*{
    font-family: avenir;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

#homepage{
    background-color: black;
}
header.menu{
    list-style: none;
    padding: 1em;
    display: flex;
    background-color: black;
}

.vlag{
    margin-left: 0;
}

#vlag{
    width: 4em;
    height: 2.2em;
    margin-left: 0;
}

#logo{
    width: 6em;
    height: 2.2em;
}

.home-btn{
    margin-left: 5em;
}
.home-index{
    margin-left: 4em;
}
.back{
    width:2.2em;
    height: 2.2em;
    margin-left: 0;   
}
.easydutch{
    display: flex; 
    justify-content: center;
    padding: 6em;
    background-color: black;
}

.button{
    background-color: black;
    color: red;
    font-family: avenir;
    font-size: 1.6em;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0em 0em 5.7em 0em;
}

.button:hover{
    color: white;
}

.balk{
    background-color: black;
    padding: 1em 0em 0.5em 0em;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

h1{
  font-family: avenir;
  text-transform: uppercase;
  font-weight: 500;
  font-size:1.3em;
  padding: 1em 0em 1em 0em;  
  text-align: center;
}


#terugknop{
    width: 2em;
    height: 2em;
}

#vlag{
    margin-left: 0em;
}

.catagorie img{
    height: 8em;
    width: 8em;
    margin-left: 2em;
}

.catagorie li{
    margin-left: 2em;
}
.catagorie p{
    font-family: avenir;
    font-size: 1.2em;
    text-align: center;
    padding: 0em 0em 1em 0em;
}

.catagorie a{
    text-decoration: none;
    color: black;
    font-family: avenir;
}

.catagorie:hover{
    color: red;
}

ol{
    text-align: center;
    font-family: source sans pro;
    list-style: none;
}
#level {
    padding: 1.5em 0em 2em 0em;
}
.score{
    padding: 1em 0em 3em 0em;
}

.niveau{
    background-color: black;
    color: white;
    padding: 0.8em 0em 0.8em 0em;
    margin: 0em;
    width: 80%;
    margin: auto;
    color: red;
    font-weight: 600;
}

a{
    text-decoration: none;
}

#huis{
    width: 20em;
    height: 15em;
    background-color: red;
}

.house p{
    display:flex;
    justify-content: center;
    margin: auto;
    font-family: avenir;
}

#vervoer{
    margin: 1em;
    padding: 0.5em;
}

#vervoer li{
    margin: 1.5em;
}

#vervoer h2{
    font-weight: 700;
    font-size: 1.5em;

}